@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

*{
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: "Creepster", system-ui;
  font-weight: 700;
  font-style: normal;
  color: rgb(243, 243, 243);
  text-shadow: 2px 8px 8px rgb(115, 207, 78);
  background-image: url('imagenes/portal_principal.png');
  background-position: center; 
}
#characters{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-content: center;
  flex-grow: 1;
  height: auto;
  margin: 10px auto;
  font-family: "Creepster", system-ui;
  font-weight: 700;
  font-style: normal;
  color: rgb(0, 0, 0);
}
#characters div img {
  width: 100%;
  border-radius: 200px;
  margin-bottom: 10px;
}
#characters div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px; 
  border: 1px solid #ddd;
  border-radius: 30px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgb(0, 0, 0); 
  transition: transform 0.3s ease;
  background-image: url('imagenes/portal_tarjetas');
  background-size: cover; 
  background-position: center; 
}
#characters div:hover {
  transform: translateY(-5px); 
}
h1{
  font-family: "Creepster", system-ui;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  color: rgb(243, 243, 243);
  text-shadow: 2px 8px 8px rgb(115, 207, 78);
}

@media only screen and (max-width: 982px) {
  #characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
  #characters div {
    width: 190px;
  }
}
@media only screen and (max-width: 468px) {
  #characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  #characters div {
    width: 190px;
  }
}
@media only screen and (max-width: 319px) {
  #characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  #characters div {
    width: 10px;
  }
}
#pagination button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  font-family: "Creepster", system-ui;
  font-weight: 200;
  font-style: normal;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s;
  background-image: url('imagenes/portal_principal');
}
#pagination button:disabled {
  cursor: not-allowed;
}
#pagination{
  display: flex;
  justify-content: space-between;
}

